HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

#env
.env
.env.dev
.env.prod 
.env.*

# VS CODE에서 문서 작업용 파일
document.md
 
# sql 파일 외 resources 폴더 내부 파일들
/src/main/resources/sql/
/src/main/resources/erd/
/src/main/resources/diagram/
/src/main/resources/entity/

# Log files
logs/
*.log

# Prod 환경 설정 파일은 .gitignore에 추가하면 CD할때 github에 올라가지 않아서 자동으로 EC2로 배포되지도 않고, 민감정보가 없기 때문에 포함시키지 않음
 