<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yhs.board2.springboot.mybatis.mapper.MemberMapper">
    <resultMap id="memberMap" type="member">
        <id property="userid" column="userId" />
        <result property="userid" column="userId"/>
        <result property="userpw" column="userpw"/>
        <result property="userName" column="username"/>
        <result property="regDate" column="regdate"/>
        <result property="updateDate" column="updatedate"/>
        <collection property="authDTOList" resultMap="authMap"></collection>
    </resultMap>

    <resultMap id="authMap" type="memberAuth">
        <result property="userid" column="userid" />
        <result property="auth" column="auth" />
    </resultMap>

    <select id="read" resultMap="memberMap">
        select
            mem.userid, userpw, username, enabled, regdate, updatedate, auth
        from
            tbl_member mem left outer join tbl_member_auth auth on mem.userid = auth.userid
        where mem.userid = #{userid}
    </select>
</mapper>